<div class="jumbotron">
    <h1>SotecPOS</h1>
    <p class="lead">Sotec Media, Sotec POS uzaktan raporlama ve API sistemi.</p>
    <p><a href="https://sotecmedia.com" target="_blank" class="btn btn-primary btn-lg">SotecMedia &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Raporlama Sistemi</h2>
        <p>Şifreniz ile giriş yaparak sizin için oluşturulan raporlar ile işletmenizi canlı takip edebilirsiniz.</p>
        <p><a class="btn btn-default" href="/Report/Index">Rapor Sistemi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Sistemi</h2>
        <p>3. Parti uygulamalar için gerekli API kaynakları.</p>
        <p><a class="btn btn-default" href="/Help">API Destek &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>-->
</div>
